.main {
    &__container {
        background: url('./assets/img/main/knives.png') center center/contain no-repeat, url('./assets/img/main/main_bg.png') center center/cover no-repeat, $sec-color;
        padding: 45px 0 60px 0;
        @media(max-width: 767px) {
            background: url('./assets/img/main/main_bg.png') center center/cover no-repeat, $sec-color;
        }
        @media(max-width: 575px) {
            padding: 30px 15px 45px 15px;
            background: url('./assets/img/main/knives_sm.png') center 39%/cover  no-repeat, url('./assets/img/main/main_bg.png') center center/cover no-repeat, $sec-color;
        }
    }
    &__container-inner {
        position: relative;
    }
    &__tab {
        position: relative;
        box-shadow: 0px 4px rgba(35, 35, 35, .18);
        @media(max-width: 767px) {
            display: none;
        }
    }

    &__benefits {
        position: relative;
        z-index: 100;
        margin-top: 200px; //120px
        @media(max-width: 991px) {
            margin-top: 50px;
        }
        @media(max-width: 575px) {
            margin-top: 380px;
        }
    }
    &__slider {

    }
}
.benefits-main {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        list-style-type: none;
        column-gap: 150px;
        @media(max-width: 1199px) {
            column-gap: 40px;
        }
        @media(max-width: 767px) {
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 30px;
            justify-content: center;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
        text-align: center;
        &_garanty {
            &::before {
                content:url('./assets/icons/main/garanty.svg');
            }
        }
        &_delivery {
            &::before {
                content:url('./assets/icons/main/delivery.svg');
            }
        }
        &_order {
            &::before {
                content:url('./assets/icons/main/order.svg');
            }
        }
        &_discount {
            &::before {
                content:url('./assets/icons/main/discount.svg');
            }
        }
        @media(max-width: 991px) {
            font-size: 14px;
        }
        @media(max-width: 767px) {
            flex: 0 0 40%;
        }
        @media(max-width: 575px) {
            flex: 0 0 100%;
            font-size: 20px;
            color: $white70-color
        }
    }
    
}
.tab-main {

    &__btns {
        padding: 0 20px;
        background-color: $sec-color;
    }

    &__contents {
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: $sec-color;
    }

}
.btns-tab-main {

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 140px;
        @media(max-width: 1199px) {
            column-gap: 40px;
        }
        @media(max-width: 767px) {
            display: none;
        }
    }

    &__item {
        padding: 24px 0;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        cursor: pointer;
        @media(max-width: 1199px) {
            text-align: center;
        }
        @media(max-width: 991px) {
            font-size: 16px;
            padding: 15px 0;
        }
        &_active {
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }
        &:hover {
            color: $main-color;
        }
    }
}
.contents-tab-main {

    &__content {
        display: none;
        &_active {
            display: block;
        }
    }
    
}
.content-tab-main {
    &__wrapper {
        border-bottom: 1px solid $white30-color;
        padding: 30px 0;
    }
    &__list {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        padding-bottom: 30px;
        border-bottom: 1px solid $white30-color;
        column-gap: 10px;
    }
    &__item {
        flex: 1 1 19%;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
        @media(max-width: 991px) {
            flex: 1 1 18%;
            font-size: 14px;
        }
    }
    &__catalog {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        column-gap: 10px;
    }
    &__all {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0;
    }
}
.all-content {
    li {
        flex: 1 1 20%;
    }
    &__link {
        font-size: 16px;
        line-height: 20px;
        color: $main-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.catalog-tab-main {
    &__item {
        flex: 1 1 19%;
        @media(max-width: 991px) {
            flex: 1 1 18%;
        }
    }
}
.item-catalog {
    &__list {
        margin-top: 30px;
        li {
            margin-top: 20px;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        font-weight: 500;
        &:hover {
            color: $main-color;
        }
        @media(max-width: 991px) {
            font-size: 14px;
        }
    }

}

.slider-main {

    &__slide {
        display: none;
        &_active {
            display: block;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: #ffffff;
        @media(max-width: 1199px) {
            font-size: 30px;
        }
        @media(max-width: 767px) {
            font-size: 23px;
        }
        @media(max-width: 575px) {
            line-height: 36px;
        }
    }

    &__subtitle {
        font-size: 36px;
        line-height: 46px;
        font-weight: 500;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-top: 15px;
        @media(max-width: 1199px) {
            font-size: 30px;
        }
        @media(max-width: 767px) {
            font-size: 24px;
        }
        @media(max-width: 575px) {
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__text {
        @include montserrat;
        position: relative;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: $white70-color;
        margin-top: 40px;
        width: 60%;
        @media(max-width: 1199px) {
            font-size: 16px;
        }
        @media(max-width: 767px) {
            width: 100%;
        }
        @media(max-width: 575px) {
            margin-top: 17px;
            line-height: 24px;
        }
    }

    &__btn {
        position: relative;
        margin: 50px 0 0 0;
        box-shadow: 0 4px 20px 0 rgba($main-color, .43);
        z-index: 10;
        @media(max-width: 767px) {
            margin: 50px auto 0 auto;
        }
        @media(max-width: 575px) {
            display: none !important;
        }
    }
}
.btn {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    background-color: $main-color;
    &:hover {
        background-color: darken($main-color, 10%);
    }
    &_sm {
        width: 228px;
    }
}
.slide-main {
    // &__img {
    //     position: absolute;
    //     top: -20px;
    //     left: -15px;
    //     z-index: 5;
    //     width: calc(100% + 30px);
    //     height: 1463px;
    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }
    &__wrapper {
        position: relative;
    }
    
}
