@import './components/animation';
@import './components/mixins';
@import './components/variables';
@import './components/normalize';
@import './components/reset';
@import './blocks/main';
@import './blocks/header';
@import './blocks/footer';
@import './blocks/catalog';
@import './blocks/bestsellers';
@import './blocks/novelty';
@import './blocks/stock';
@import './blocks/articles';
@import './blocks/flashlights';
@import './blocks/category/category';
@import './blocks/card/card';

// * {
//     box-sizing: border-box;
// }

body {
    @include montserrat;
    margin: 0;
    padding: 0;
}

.overlay {
    display: none;
    &_active {
        display: block;
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}

.container {
    max-width: $container-mw;
    // padding: 0 10px;
    margin: 0 auto;
    @media(max-width: 1609px) {
        max-width: calc(100% - 80px);
    }
    @media(max-width: 1199px) {
        max-width: 960px;
    }
    @media(max-width: 991px) {
        max-width: 720px;
    }
    @media(max-width: 767px) {
        max-width: 540px;
    }
    @media(max-width: 575px) {
        max-width: 100%;
    }
}

.btn {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    background-color: $main-color;
    transition: .2s all;
    cursor: pointer;
    &:hover {
        background-color: darken($main-color, 10%);
    }
    &_sm {
        width: 228px;
    }
    &_md {
        width: 316px;
    }
    &_lg {
        width: 325px;
    }
    &_white {
        background-color: #ffffff;
        color: $main-color;
        &:hover {
            background-color: darken($main-color, 10%);
            color: #ffffff;
        }
    }
}