@import './components/animation';
@import './components/mixins';
@import './components/variables';
@import './components/normalize';
@import './components/reset';
@import './blocks/main';
@import './blocks/header';
@import './blocks/footer';
@import './blocks/catalog';

body {
    @include montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    display: none;
    &_active {
        display: block;
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}

.container {
    max-width: $container-mw;
    // padding: 0 10px;
    margin: 0 auto;
    @media(max-width: 1609px) {
        max-width: calc(100% - 80px);
    }
    @media(max-width: 1199px) {
        max-width: 960px;
    }
    @media(max-width: 991px) {
        max-width: 720px;
    }
    @media(max-width: 767px) {
        max-width: 540px;
    }
    @media(max-width: 575px) {
        max-width: 100%;
    }
}